@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

body{
  background-color: black;
  overflow-x: hidden;
}
#nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 40px 50px;
  color: white;
}
#nav h1{
  font-size: 30px;
}
#nav i{
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}

.sideMenu{
  height: 100%;
  width: 40%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.247);
  top: 0;
  right: -45%;
  backdrop-filter: blur(10px);
  padding: 140px 30px;
}
.sideMenu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  list-style: none;
}
/* .sideMenu ul li{
  margin-top: 50px;
} */
.sideMenu ul li a{
  color: white;
  text-decoration: none;
}
.sideMenu i{
  position: absolute;
  top: 5%;
  right: 8%;
  color: white;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}

@media (max-width:789) {
  body{
    overflow-x: hidden;
  }
  #nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 40px 50px;
    color: white;
  }
  #nav h1{
    font-size: 30px;
  }
  #nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
  }
  
  .sideMenu{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.247);
    top: 0;
    right: -45%;
    backdrop-filter: blur(10px);
    padding: 140px 30px;
  }
  .sideMenu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    list-style: none;
  }
  /* .sideMenu ul li{
    margin-top: 50px;
  } */
  .sideMenu ul li a{
    color: white;
    text-decoration: none;
  }
  .sideMenu i{
    position: absolute;
    top: 5%;
    right: 8%;
    color: white;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
  }
}